header {
    background-color: #212121;
}

.mainLogo {
    display: flex;
    justify-content: center;
    border: solid #212121 20px;
}

#LogoCriterio {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: solid #212121 20px;
}

.products img {
    margin: 5px 10px;
}

.aboutContainer {
    background-color: #212121;
    height: fit-content;
    padding: 5px 90px;
}

@media only screen and (max-width: 830px) {
    .products {
      height: 220px;
    }
  }

@media only screen and (max-width: 515px) {
    .products {
      height: 330px;
    }

    .aboutContainer {
      padding: 5px 40px;
    }
  }

@media only screen and (max-width: 340px) {
    .products {
      height: 440px;
    }
  }
